@media (max-height: 1080px) and (orientation:portrait) {

	.top {
		max-width: 100%;
	}

	h1, #mail, #imgsect1, .card, #clientgroupe>figure>img, .carteprix, .infodyna>.infochiffre, .figPerso, .imgperso, #n6>figure>img, #infoPlus {
		min-width: 1px;
		min-height: 1px;
	}

	/* .top > p{
        width: 87%;
    } */

	/* section 1 */

	header {
		flex-direction: column;
		gap: 1.6vh;
		padding-top: 10px;
	}

	header>span {
		font-weight: 900;
		font-size: larger;
	}

	.menu__btn {
		visibility: visible;
	}

	#ulNav {
		display: none;
		position: fixed;
		visibility: visible;
		text-align: center;
		top: 0%;
		left: 0%;

		width: 100%;
		height: 100%;

		margin: 0;
		padding: 80px 0;

		list-style: none;

		background:var(--bg1);
		box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

		transition-duration: .25s;
	}


	#ulNav>li {
		width: 100vw;
	}

	#ulNav>li>a {
		text-align: center;
		display: block;
		padding: 12px 24px;

		color: #333;

		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 600;

		text-decoration: none;

		transition-duration: .25s;
	}

	#principal {
		margin-top: 2vh;
		gap: 4vh;
		flex-wrap: wrap-reverse;
	}

	#weare {
		gap: 15px;
	}

	h1, #soush1, #mail {
		width: 90vw;
	}

	h1 {
		font-size: 30px;
	}

	#soush1 {
		font-size: 18px;
	}

	#imgsect1 {
		height: 40vh;
	}

	/* section 2 */

	#n2 {
		padding-bottom: 5vh;
	}

	#n2>.top>p {
		width: 87%;
	}

	.card {
		width: 80vw;
		height: 60vh;
	}

	/* section 4 */

	#n4>.top>h2 {
		width: 70vw;
	}

	#n4>.top>p {
		width: 87vw;
	}

	.infodyna {
		gap: 80px;
		padding-bottom: 5vh;
	}

	#chiffre {
		padding-bottom: 40px;
	}

	.figPerso, .infodyna>.infochiffre {
		width: 35vw !important;
	}

	.imgperso {
		width: 35vw;
	}

	/* semi */

	#textpara>p {
		width: 80vw;
	}

	/* section 5 */

	#n5>.top>p {
		width: 87%;
	}

	#clientgroupe {
		padding: 5vh 0;
	}

	#clientgroupe>figure>img {
		width: 50vw;
	}

	/* section 6 */

	#n6 {
		padding: 5vh 0;
		flex-wrap: wrap-reverse;
	}

	#left>p {
		width: 80%;
	}

	#infoPlus {
		width: 30vw;
	}

	#n6>figure>img {
		width: 80vw;
	}

	/* section 7 */

	#n7>.top>p {
		width: 87%;
	}


	.carteprix {
		width: 80vw;
		height: 85vh;
	}

	#starter, #advanced, #proffessional {
		margin-top: 4vh;
	}

	.interieureCarte {
		gap: 5vh;
	}

	.prixmois {
		height: 11vh;
	}

	.currency {
		font-size: 7.4vh;
	}

	.prix {
		font-size: 11vh;
	}

	.parmois {
		font-size: 1.8vh;
	}

	.infolignes {
		gap: 14vw;
	}

	.typeinfo, .valueinfo {
		width: 28vw;
		gap: 3.36vh;
		font-size: 2.5vh;
	}

	.interieureCarte>a {
		width: 55vw;
		padding: 1.8vh 0;
	}

	/* section 8 */

	#n8>.top>p {
		width: 80vw;
	}

	#grpBlog {
		gap: 1vh;
	}

	.partBlog {
		flex-basis: 100%;
		max-width: 80%;
	}

	.paraBlog {
		width: 80vw;
	}

	/* bouton theme */

	.parabox{
		gap:10vh;
		flex-direction: column;
	}

}





@media (max-width: 1080px) and (orientation:landscape) {
	.top {
		max-width: 100%;
	}

	h1, #mail, #imgsect1, .card, #clientgroupe>figure>img, .carteprix, .infodyna>.infochiffre, .figPerso, .imgperso, #n6>figure>img, #infoPlus {
		min-width: 1px;
		min-height: 1px;
	}

	/* .top > p{
        width: 87%;
    } */

	/* section 1 */

	header {
		gap: 1.6vh;
		padding-top: 10px;
	}

	header>span {
		font-weight: 900;
		font-size: larger;
	}

	.menu__btn {
		visibility: visible;
	}

	#ulNav {
		display: block;
		position: fixed;
		visibility: visible;
		text-align: center;
		top: 100%;
		left: 0%;

		width: 100%;
		height: 100%;

		margin: 0;
		padding: 80px 0;

		list-style: none;

		background-color: #ECEFF1;
		box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

		transition-duration: .25s;
	}

	#ulNav>li {
		width: 100vw;
	}

	#ulNav>li>a {
		text-align: center;
		display: block;
		padding: 12px 24px;

		color: #333;

		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 600;

		text-decoration: none;

		transition-duration: .25s;
	}

	#principal {
		margin-top: 16vh;
		gap: 4vh;
	}

	#weare {
		gap: 15px;
	}

	h1, #soush1, #mail {
		width: 46vw;
	}

	h1 {
		font-size: 24px;
	}

	#soush1 {
		font-size: 14px;
	}

	#imgsect1 {
		height: 40vh;
	}

	/* section 2 */

	#n2 {
		padding-bottom: 5vh;
	}

	#n2>.top>p {
		width: 87vw;
	}

	.card {
		width: 80vw;
		height: 60vh;
	}

	/* section 4 */

	#n4>.top>h2 {
		width: 70vw;
	}

	#n4>.top>p {
		width: 87%;
	}

	.infodyna {
		gap: 80px;
		padding-bottom: 5vh;
	}

	#chiffre {
		padding-bottom: 40px;
	}

	.figPerso, .infodyna>.infochiffre {
		width: 35vw !important;
	}

	.imgperso {
		width: 35vw;
	}

	/* semi */

	#textpara>p {
		width: 80vw;
	}

	/* section 5 */

	#n5>.top>p {
		width: 87%;
	}

	#clientgroupe {
		padding: 5vh 0;
	}

	#clientgroupe>figure>img {
		width: 50vw;
	}

	/* section 6 */

	#n6 {
		padding: 5vh 0;
		flex-wrap: wrap-reverse;
	}

	#left>p {
		width: 80%;
	}

	#infoPlus {
		width: 30vw;
	}

	#n6>figure>img {
		width: 80vw;
	}

	/* section 7 */

	#n7>.top {
		padding-top: 6px;
	}

	#n7>.top>p {
		width: 87%;
	}

	#grpcartesprix {
		padding-bottom: 5vh;
	}

	.carteprix {
		width: 80vw;
		height: 90vh;
	}

	#starter, #advanced, #proffessional {
		margin-top: 0vh;
	}

	.interieureCarte {
		padding-top: 10px;
		gap: 5vh;
	}

	.prixmois {
		height: 14vh;
	}

	.currency {
		font-size: 8.6vh;
	}

	.prix {
		font-size: 14vh;
	}

	.parmois {
		font-size: 2.4vh;
	}

	.infolignes {
		gap: 14vw;
	}

	.typeinfo, .valueinfo {
		width: 28vw;
		gap: 3.36vh;
		font-size: 4vh;
	}

	.interieureCarte>a {
		width: 55vw;
		padding: 1.8vh 0;
	}

	/* section 8 */

	#n8>.top>p {
		width: 80vw;
	}

	#grpBlog {
		gap: 5vh;
	}

	.partBlog {
		flex-basis: 100%;
		max-width: 80%;
	}

	.paraBlog {
		width: 80vw;
	}

}