@media (max-height: 768px) and (orientation:portrait){

    /* section 1 */

    header{
        flex-direction: row;
        align-items: flex-start;
        gap: 10vw;
    }

    header > span{
        font-weight: 900;
        font-size: large;
    }

    #reseau{
        flex-direction: column;
    }
    
    #principal{
        margin-top: 3vh;
    }

    h1, #soush1, #mail{
        width: 85vw;
    }

    h1{
        font-size: 18px;
    }

    #soush1{
        font-size: 10px;
    }

    #fimgsect1{
        display: none;
    }

    /* section 2 */

    .card{
        height: 80vh;
    }

    /* section 4 */

    .figPerso , .infodyna > .infochiffre{
        width: 50vw !important;
    }

    .imgperso{
        width: 50vw;
    }

    /* semi */

    #semisection{
        height: 80vh;
    }

    

    /* section 6 */

    #left > h2{ 
        font-size: 30px;    
    }

    #left > p{
        font-size: 18px;
    }

    #infon6{
        gap: 60px;
    }

    #infoPlus{
        width: 60vw;
    }

    /* section 7 */

    .carteprix{
        width: 90vw;
        height: 95vh;
    }

    .interieureCarte{
        gap: 8vh;
    }

    .infolignes{
        gap: 0vw;
    }

    .typeinfo, .valueinfo{
        width: 40vw;
        gap: 3.36vh;
        font-size: 2vh;
    }



    /* footer */

    footer > ul ,footer > p{
        font-size: 12px;
    }

    footer > ul li{
        padding: 0 4px;
    }

}

@media (max-width: 768px) and (orientation:landscape){

    .partie{
        height: fit-content;
    }

    /* section 1 */

    
    #principal{
        margin-top: 3vh;
    }

    h1{
        font-size: 18px;
    }

    #soush1{
        font-size: 10px;
    }

    #imgsect1{
        height: 60vh;
    }

    /* section 2 */

    .card{
        height: 90vh;
    }

    /* section 4 */


    .figPerso , .infodyna > .infochiffre{
        width: 50vw !important;
    }

    .infochiffre{
        font-size: 7vh;
    }

    .imgperso{
        width: 50vw;
    }

    /* semi */

    #semisection{
        height: 80vh;
    }

    /* section 6 */

    #left > h2{ 
        font-size: 30px;    
    }

    #left > p{
        font-size: 18px;
    }

    #infon6{
        gap: 60px;
    }

    #infoPlus{
        width: 60vw;
    }

    /* section 7 */

    .carteprix{
        width: 85vw;
        height: 150vh;
    }

    #grpcartesprix{
        gap: 6vh;
        padding-top: 3vh;
    }

    .interieureCarte{
        gap: 10vh;
    }

    .interieureCarte > h3{
        font-size: 8vh;
    }

    .prixmois{
        height: 20vh;
    }
    
    .currency{
        font-size: 10vh;
    }

    .prix{
        font-size: 20vh;
    }

    .parmois{
        font-size: 5vh;
    }

    .infolignes{
        gap: 0vw;
    }

    .typeinfo, .valueinfo{
        width: 40vw;
        gap: 3.36vh;
        font-size: 7vh;
    }



    /* footer */

    footer{
        height: 60vh;
    }

    footer > ul ,footer > p{
        font-size: 12px;
    }

    footer > ul li{
        padding: 0 4px;
    }

}