@media  (max-width: 1080px){

    .top{
        max-width: 100% ;
    }

    h1 , #mail , #imgsect1 , .card , #clientgroupe > figure > img , .carteprix , .infodyna > .infochiffre , .figPerso , .imgperso , #n6 > figure > img , #infoPlus{
        min-width: 1px;
    }
    
    /* section 1 */

    header{
        display: flex;
        flex-direction: column;
        gap: 1vh;
        padding-top: 10px;
    }

    /* logo kucra */

    header > span{
        font-weight: 900;
        font-size: larger;
    }

    #principal{
        margin-top: 6vh;
    }

    h1, #soush1, #mail{
        width: 90vw;
    }

    h1{
        font-size: 30px;
    }

    #soush1{
        font-size: 18px;
    }

    #imgsect1{
        height: 40vh;
    }

    /* section 2 */

    #n2{
        padding-bottom: 5vh;
    }

    .card{
        width: 80vw;
        height: 60vh;
    }

    /* section 4 */

    .infodyna{
        gap: 80px;
        padding-bottom: 5vh;
    }

    #chiffre{
        padding-bottom: 40px;
    }

    .figPerso , .infodyna > .infochiffre{
        width: 35vw !important;
    }

    .imgperso{
        width: 35vw;
    }

    /* section 5 */

    #clientgroupe{
        padding: 5vh 0;
    }

    #clientgroupe > figure > img{
        width: 50vw;
    }

    /* section 6 */

    #n6{
        padding: 5vh 0;

    }

    #infoPlus{
        width: 30vw;
    }

    #n6 > figure > img{
        width: 80vw;
    }

    /* section 7 */

    
    .carteprix{
        width: 80vw;
        height: 85vh;
    }
    
    #starter ,#advanced ,#professional{
        margin-top: 4vh;
    }
    
    .interieureCarte{
        gap: 5vh;
    }
    
    .prixmois{
        height: 11vh;
    }
    
    .currency{
        font-size: 7.4vh;
    }

    .prix{
        font-size: 11vh;
        display: flex;
        align-items: center;
    }

    .parmois{
        font-size: 1.8vh;
    }

    .infolignes{
        gap: 20vw;
    }

    .typeinfo, .valueinfo{
        width: 25vw;
        gap: 3.36vh;
        font-size: 2.5vh;
    }

    .interieureCarte > a{
        width: 55vw;
        padding: 1.8vh 0;
    }
    
    /* section 8 */

    #n8 > .top > p{
        width: 80vw;
    }

    #grpBlog{
        gap: 1vh;
    }    

    .partBlog{
        flex-basis: 100%;
        max-width: 80%;
    }

    .paraBlog{
        width: 80vw;
    }

}